<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <script>function toggleblock(blockId) {
    var block = document.getElementById(blockId);
    if (block.style.display == 'none') {
      block.style.display = 'block';
    } else {
      block.style.display = 'none';
    }
  }</script>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
      <a href="javascript:toggleblock('notice')" style="text-align:center;font-size:70%;color:#808080">▶
        nnnyt.github.io's clustrmaps 🌎</a>
      <div id="notice" style="display: none; color: rgb(222, 222, 222); font-size: 0.5em;">
        <p>
          <a href="https://clustrmaps.com/site/1bwaw"
            title="Visit tracker for nnnyt.github.io"><img
              src="//clustrmaps.com/map_v2.png?cl=ffffff&w=300&t=tt&d=pMaqZ_7Y5KyI9SCxGgwQ9eEJp4pg947hBv28B4ommKY" /></a>
      </p>
        
      </div>  
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
